<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.cost.mapper.CostMapper">
    <resultMap id="BaseResultMap" type="com.lanou.cost.bean.Cost">
        <id column="cost_id" jdbcType="INTEGER" property="costId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="base_duration" jdbcType="INTEGER" property="baseDuration"/>
        <result column="base_cost" jdbcType="INTEGER" property="baseCost"/>
        <result column="unit_cost" jdbcType="INTEGER" property="unitCost"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="descr" jdbcType="VARCHAR" property="descr"/>
        <result column="creatime" jdbcType="VARCHAR" property="creatime"/>
        <result column="startime" jdbcType="VARCHAR" property="startime"/>
        <result column="cost_type" jdbcType="CHAR" property="costType"/>
    </resultMap>
    <sql id="Base_Column_List">
    cost_id, name, base_duration, base_cost, unit_cost, status, descr, creatime, startime, 
    cost_type
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cost
        where cost_id = #{costId,jdbcType=INTEGER}
    </select>
    <select id="findAllCost" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM cost
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cost
    where cost_id = #{costId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.lanou.cost.bean.Cost" useGeneratedKeys="true" keyProperty="costId">
    insert into cost (cost_id, name, base_duration, 
      base_cost, unit_cost, status, 
      descr, creatime, startime, 
      cost_type)
    values (#{costId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{baseDuration,jdbcType=INTEGER}, 
      #{baseCost,jdbcType=INTEGER}, #{unitCost,jdbcType=INTEGER}, #{status,jdbcType=CHAR}, 
      #{descr,jdbcType=VARCHAR}, #{creatime,jdbcType=VARCHAR}, #{startime,jdbcType=VARCHAR},
      #{costType,jdbcType=CHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.lanou.cost.bean.Cost">
        insert into cost
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="costId != null">
                cost_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="baseDuration != null">
                base_duration,
            </if>
            <if test="baseCost != null">
                base_cost,
            </if>
            <if test="unitCost != null">
                unit_cost,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="descr != null">
                descr,
            </if>
            <if test="creatime != null">
                creatime,
            </if>
            <if test="startime != null">
                startime,
            </if>
            <if test="costType != null">
                cost_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="costId != null">
                #{costId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="baseDuration != null">
                #{baseDuration,jdbcType=INTEGER},
            </if>
            <if test="baseCost != null">
                #{baseCost,jdbcType=INTEGER},
            </if>
            <if test="unitCost != null">
                #{unitCost,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="descr != null">
                #{descr,jdbcType=VARCHAR},
            </if>
            <if test="creatime != null">
                #{creatime,jdbcType=VARCHAR},
            </if>
            <if test="startime != null">
                #{startime,jdbcType=VARCHAR},
            </if>
            <if test="costType != null">
                #{costType,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lanou.cost.bean.Cost">
        update cost
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="baseDuration != null">
                base_duration = #{baseDuration,jdbcType=INTEGER},
            </if>
            <if test="baseCost != null">
                base_cost = #{baseCost,jdbcType=INTEGER},
            </if>
            <if test="unitCost != null">
                unit_cost = #{unitCost,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=CHAR},
            </if>
            <if test="descr != null">
                descr = #{descr,jdbcType=VARCHAR},
            </if>
            <if test="creatime != null">
                creatime = #{creatime,jdbcType=VARCHAR},
            </if>
            <if test="startime != null">
                startime = #{startime,jdbcType=VARCHAR},
            </if>
            <if test="costType != null">
                cost_type = #{costType,jdbcType=CHAR},
            </if>
        </set>
        where cost_id = #{costId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lanou.cost.bean.Cost">
    update cost
    set name = #{name,jdbcType=VARCHAR},
      base_duration = #{baseDuration,jdbcType=INTEGER},
      base_cost = #{baseCost,jdbcType=INTEGER},
      unit_cost = #{unitCost,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      descr = #{descr,jdbcType=VARCHAR},
      creatime = #{creatime,jdbcType=VARCHAR},
      startime = #{startime,jdbcType=VARCHAR},
      cost_type = #{costType,jdbcType=CHAR}
    where cost_id = #{costId,jdbcType=INTEGER}
  </update>
    <select id="findByName" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM cost WHERE name = #{name}
    </select>
</mapper>