<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.service.mapper.ServiceMapper">
    <resultMap id="BaseResultMap" type="com.lanou.service.bean.Servicezz">
        <id column="service_id" jdbcType="INTEGER" property="serviceId"/>
        <result column="unix_host" jdbcType="VARCHAR" property="unixHost"/>
        <result column="os_username" jdbcType="VARCHAR" property="osUsername"/>
        <result column="login_passwd" jdbcType="VARCHAR" property="loginPasswd"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="create_date" jdbcType="VARCHAR" property="createDate"/>
        <result column="pause_date" jdbcType="VARCHAR" property="pauseDate"/>
        <result column="close_date" jdbcType="VARCHAR" property="closeDate"/>
        <association property="account" column="account_id"
                     select="com.lanou.account.mapper.AccountMapper.selectByPrimaryKey"/>
        <association property="cost" column="cost_id" select="com.lanou.cost.mapper.CostMapper.selectByPrimaryKey"/>
    </resultMap>
    <sql id="Base_Column_List">
    service_id, account_id, unix_host, os_username, login_passwd, status, create_date, 
    pause_date, close_date, cost_id
  </sql>
    <select id="selectServiceFuzzy" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM service
        <where>
            <if test="osUsername!=null">
                and os_username LIKE CONCAT('%',#{osUsername},'%')
            </if>
            <if test="unixHost!=null">
                and unix_host LIKE CONCAT('%',#{unixHost},'%')
            </if>
            <if test="idcardNo!=null">
                and account_id in (SELECT account_id FROM account WHERE idcard_no=#{idcardNo})
            </if>
            <if test="status!=null">
                and status=#{status}
            </if>
        </where>
    </select>
    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM service
    </select>
    <select id="findByOSUsername" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM service WHERE os_username=#{osUsername}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from service
        where service_id = #{serviceId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from service
    where service_id = #{serviceId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.lanou.service.bean.Servicezz">
    insert into service (service_id, account_id, unix_host,
      os_username, login_passwd, status, 
      create_date, pause_date, close_date, 
      cost_id)
    values (#{serviceId,jdbcType=INTEGER}, #{accountId,jdbcType=INTEGER}, #{unixHost,jdbcType=VARCHAR}, 
      #{osUsername,jdbcType=VARCHAR}, #{loginPasswd,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{createDate,jdbcType=VARCHAR}, #{pauseDate,jdbcType=VARCHAR}, #{closeDate,jdbcType=VARCHAR},
      #{costId,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.lanou.service.bean.Servicezz" useGeneratedKeys="true"
            keyProperty="serviceId">
        insert into service
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serviceId != null">
                service_id,
            </if>
            <if test="accountId != null">
                account_id,
            </if>
            <if test="unixHost != null">
                unix_host,
            </if>
            <if test="osUsername != null">
                os_username,
            </if>
            <if test="loginPasswd != null">
                login_passwd,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="pauseDate != null">
                pause_date,
            </if>
            <if test="closeDate != null">
                close_date,
            </if>
            <if test="costId != null">
                cost_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serviceId != null">
                #{serviceId,jdbcType=INTEGER},
            </if>
            <if test="accountId != null">
                #{accountId,jdbcType=INTEGER},
            </if>
            <if test="unixHost != null">
                #{unixHost,jdbcType=VARCHAR},
            </if>
            <if test="osUsername != null">
                #{osUsername,jdbcType=VARCHAR},
            </if>
            <if test="loginPasswd != null">
                #{loginPasswd,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=VARCHAR},
            </if>
            <if test="pauseDate != null">
                #{pauseDate,jdbcType=VARCHAR},
            </if>
            <if test="closeDate != null">
                #{closeDate,jdbcType=VARCHAR},
            </if>
            <if test="costId != null">
                #{costId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lanou.service.bean.Servicezz">
        update service
        <set>
            <if test="unixHost != null">
                unix_host = #{unixHost,jdbcType=VARCHAR},
            </if>
            <if test="osUsername != null">
                os_username = #{osUsername,jdbcType=VARCHAR},
            </if>
            <if test="loginPasswd != null">
                login_passwd = #{loginPasswd,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=CHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=VARCHAR},
            </if>
            <if test="pauseDate != null">
                pause_date = #{pauseDate,jdbcType=VARCHAR},
            </if>
            <if test="closeDate != null">
                close_date = #{closeDate,jdbcType=VARCHAR},
            </if>
        </set>
        where service_id = #{serviceId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lanou.service.bean.Servicezz">
    update service
    set account_id = #{accountId,jdbcType=INTEGER},
      unix_host = #{unixHost,jdbcType=VARCHAR},
      os_username = #{osUsername,jdbcType=VARCHAR},
      login_passwd = #{loginPasswd,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      create_date = #{createDate,jdbcType=VARCHAR},
      pause_date = #{pauseDate,jdbcType=VARCHAR},
      close_date = #{closeDate,jdbcType=VARCHAR},
      cost_id = #{costId,jdbcType=INTEGER}
    where service_id = #{serviceId,jdbcType=INTEGER}
  </update>
</mapper>