<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanou.role.mapper.RoleMapper">
    <resultMap id="BaseMap" type="com.lanou.role.bean.Role">
        <id column="role_id" property="roleId"/>
        <result column="name" property="roleName"/>
        <collection property="moduleList" column="role_id" select="com.lanou.role.mapper.ModuleMapper.findByRoleId"/>
    </resultMap>
    <resultMap id="ClearMap" type="com.lanou.role.bean.Role">
        <id column="role_id" property="roleId"/>
        <result column="name" property="roleName"/>
    </resultMap>
    <sql id="BaseSql">
        role_id,name
    </sql>
    <sql id="FindSql">
        a.role_id,name
    </sql>
    <select id="findAllRole" resultMap="BaseMap">
        SELECT
        <include refid="BaseSql"/>
        FROM role_info
    </select>
    <select id="findByModuleId" resultMap="ClearMap">
        SELECT
        <include refid="FindSql"/>
        FROM role_info a,role_module b WHERE a.role_id=b.role_id AND b.module_id=#{moduleId}
    </select>

    <select id="findByRoleId" resultMap="BaseMap">
        SELECT
        <include refid="BaseSql"/>
        FROM role_info WHERE role_id=#{roleId}
    </select>
    <select id="findByRoleName" resultMap="ClearMap">
        SELECT
        <include refid="BaseSql"/>
        FROM role_info WHERE name=#{roleName}
    </select>
    <update id="updateRole" parameterType="com.lanou.role.bean.Role">
        UPDATE role_info SET name=#{roleName} where role_id=#{roleId}
    </update>
    <delete id="deleteByRoleId">
        DELETE FROM role_module WHERE role_id=#{roleId}
    </delete>
    <insert id="updateRoleModule">
        INSERT INTO role_module VALUES (#{roleId},#{moduleId})
    </insert>
    <insert id="insertRole" parameterType="com.lanou.role.bean.Role" useGeneratedKeys="true" keyProperty="roleId">
        INSERT INTO role_info VALUES (null,#{roleName})
    </insert>
</mapper>